body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.slides-wrapper {
  margin: 0 auto;
  width: 900px;
  height: 600px;
  white-space: nowrap;
  font-size: 4em;
}

.slide-scroller {
  transition: all 1s;
}

.slide {
  display: inline-block;
  width: 900px;
  height: 600px;
}

.slide-inner {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  background: white;
  text-align: center;
  justify-content: center;
}


.animate-opacity {
  opacity: 0;
  transition: all 1s;
}
.animate-opacity.in {
  opacity: 1;
}
.overflow-visible { overflow: visible }
.d-flex { display: flex }
.items-center { align-items: center }
.center { margin: 0 auto }
.pt3 { padding-top: 1rem }
.pb3 { padding-bottom: 1rem }
.pv3 { padding-top: 1rem; padding-bottom: 1rem }