body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-family: sans-serif;
}

* { box-sizing: border-box }

.transition-quick { transition: all 0.2s }
.transition { transition: all 0.3s }
.transition-graph { transition: all 3s }
.transition-bezier { transition: all 0.3s cubic-bezier(.55,0,.1,1) }

.overflow-visible { overflow: visible }

.d-flex { display: flex }
.items-center { align-items: center }

.center { margin: 0 auto }
.tc { text-align: center }

.pos-fixed { position: fixed }
.pos-absolute { position: absolute }

.top0 { top: 0 }
.left0 { left: 0 }
.left50 { left: 50% }
.bottom0 { bottom: 0 }
.right0 { right: 0 }

.w0 { width: 0% }
.w50 { width: 50% }
.w100 { width: 100% }
.h100 { height: 100% }

.transX-100 { transform: translateX(-100%) }
.transX-50 { transform: translateX(-50%) }
.transX0 { transform: translateX(0%) }
.transX25 { transform: translateX(25%) }
.transX50 { transform: translateX(50%) }
.transX75 { transform: translateX(75%) }
.transX100 { transform: translateX(100%) }
.transX200 { transform: translateX(200%) }
.transY0 { transform: translateY(0%) }
.transY25 { transform: translateY(25%) }
.transY50 { transform: translateY(50%) }
.transY75 { transform: translateY(75%) }
.transY100 { transform: translateY(100%) }
.transY200 { transform: translateY(200%) }

.fLight { color: white }
.fDark { color: black }

.bgLight { background: white }
.bgOne { background: #4fcead }
.bgTwo { background: #656d78 }

.pt3 { padding-top: 1rem }
.pb3 { padding-bottom: 1rem }
.pv3 { padding-top: 1rem; padding-bottom: 1rem }

.z1 { z-index: 1 }
.z2 { z-index: 2 }

.o0 { opacity: 0 }
.o100 { opacity: 1 }